# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Redis_Homework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
